.container, header {
	width: 960px;
	margin: auto;
}

header {
	text-align: center;
	padding: 15px 0 15px;
}

.username, .button, .publishtime{
	font-family: 'Ovo', serif;
}
.tweetcontent{
	font-family: 'Vollkorn', serif;
	font-size: 16px;
}

.username {
	font-size: 16px;
}

.publishtime {
	font-size: 12px;
}

.tweet {
	padding: 5px 0 5px;
}

.tweet, .button{
	margin: 0 auto;
	text-align: center;
}

/*Button from http://www.bestcssbuttongenerator.com/#/2*/
.button {
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background-color:#800000;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:16px;
	padding: 5px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}

.hide {
	display: none;
}
